@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* login/singup input and buttons */
.ant-input:hover,
.ant-input:focus {
  border-color: #86cb92 !important;
}

.ant-btn-primary {
  color: #0a122a !important;
  background-color: transparent !important;
  border-color: #86cb92 !important;
}

.ant-btn:hover,
.ant-btn:focus {
  color: #0a122a !important;
  background-color: transparent !important;
  border-color: #86cb92 !important;
}
/* form inputs */
.ant-select-selection:hover {
  border-color: #86cb92 !important;
}

.ant-input-number:hover,
.ant-input-number-focused {
  border-color: #86cb92 !important;
}

.ant-upload.ant-upload-select-picture-card:hover {
  border-color: #86cb92 !important;
}

.ant-layout-sider-zero-width-trigger {
  color: #86cb92 !important;
  background: #5b6057 !important;
  top: 0px !important;
}

.ant-layout-sider-children {
  min-width: 100%;
}
